@using System.Data;
@using OpenDentBusiness;
@using OpenDentBusiness.Mobile;
@model PatientPortalMVC.Models.AccountModel
@{
	ViewBag.Title = "Account";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @Html.Partial("_PatientName")
<h2>Patient Information</h2>



<p>&nbsp;</p>
    <p><strong>Family Balance:</strong></p>

@foreach(var item in Model.patDetailsList) {
	<div style=" text-indent:3em">
		<p><strong>Name:</strong> = @Html.Encode(item.patm.LName), @Html.Encode(item.patm.FName)</p>  
		<p><strong>Balance</strong> = @Html.Encode(item.BalTotal)</p>
		<p><strong>Ins Pending</strong> = @Html.Encode(item.InsEst) </p>
		<p><strong>After Ins</strong> = @Html.Encode(item.AfterIns) </p>
		<p>&nbsp;</p>
	</div>
}

