@using System.Data;
@using OpenDentBusiness;
@using OpenDentBusiness.Mobile;
@model PatientPortalMVC.Models.AccountModel
@{
	ViewBag.Title = "Account";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @Html.Partial("_PatientName")
<h2>Account Information</h2>
<div style="margin-left:3em"> 
	<p><strong>Balance</strong> = @Html.Encode(Model.BalTotal)</p>
	<p><strong>Ins Pending</strong> = @Html.Encode(Model.InsEst)</p>
	<p><strong>After Ins</strong> = @Html.Encode(Model.AfterIns)</p>
</div>

<p><strong>Statement History:</strong></p>
<div style="margin-left:3em">
@if(Model.statementmList.Count()==0) {
	<p>No Statement History available</p>
}
	@foreach(var item in Model.statementmList) {    
		<p>@Html.Encode("Statement "+item.DateSent.ToShortDateString() + " ")
		@if(item.DocNum!=0) {
			@Html.ActionLink("View Statement","ShowPdfFile","Account",new { d=item.DocNum },new { target="_blank" }) 
  }
		</p>
	}
</div>
