@using System.Data;
@using OpenDentBusiness;
@using OpenDentBusiness.Mobile;
@model PatientPortalMVC.Models.AppointmentModel
@{
	ViewBag.Title = "Appointments";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><strong>Appointments:</strong></p>


<div style="margin-top:3em;margin-left:3em;">
@if(Model.appointmentmList.Count()==0) {
	<p>No Appointments available</p>
}
else {
	<div class="divtable">
		<div class="divtablerow">
			<div class="divtablecell3">
				<strong> Appt Status </strong>
			</div>
			<div class="divtablecell3">
				<strong> Date </strong>
			</div>
			<div class="divtablecell3">
				<strong> Time </strong>
			</div>
			<div class="divtablecell3">
				<strong> Min </strong>
			</div>
			<div class="divtablecell3">
				<strong> Procedures </strong>
			</div>
			<div class="divtablecell3">
				<strong> Notes </strong>
			</div>
		</div>
		@foreach(var item in Model.appointmentmList) {  
			<div class="divtablerow">
				<div class="divtablecell3">
					@Html.Encode(item.AptStatus)
				</div>
				<div class="divtablecell3">
					@Html.Encode(item.AptDateTime.ToString("d"))
				</div>
				<div class="divtablecell3">
					@Html.Encode(item.AptDateTime.ToString("t"))
				</div>
				<div class="divtablecell3">
					@Html.Encode(item.Pattern.Length*5)
				</div>
				<div class="divtablecell3">
					@Html.Encode(item.ProcDescript)
				</div>
				<div class="divtablecell3">
					@Html.Encode(item.Note)
				</div>
			</div>	  	  
			
	  
  }
	</div>
}
</div>